.search {
  padding: 33px 30px 27px 30px;
  color: #000000;
  background-color: #ffffff;
}

.search__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search__info {
  margin: 0;
}
