@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  padding: 0;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .page__body {
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
