.advantages-line {
  width: 100%;
}

.advantages__block {
  padding: 34px 20px 39px 18px;
}

.advantages__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__num {
  margin: 0;
  color: #ffffff;
}

.advantages__description {
  margin: 0;
  color: #ffffff;
}

.photo-city {
  margin-bottom: -5.5px;
}

.advantages-box {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #000000;
  background-color: #ffffff;
}

.advantages-box__items:last-child {
  padding-bottom: 35px;
}

.advantages {
  background-color: #81b3d2;
}

.photo-bridge {
  margin-bottom: -5.5px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #000000;
  background-color: #eeeeee;
}

.advantages-list__items {
  padding: 26px 26px 24px 26px;
}

.advantages-list__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list__num {
  margin: 0;
}

.advantages-list__description {
  margin: 0;
}

.advantages-box__items {
  display: flex;
}

.advantages-box__items:nth-child(2) {
  .advantages-box__icon {
    padding: 25px 17px 0 29px;
  }
}

.advantages-box__icon {
  padding: 25px 13px 0 25px;
}

.advantages-box__desc {
  text-align: start;
  padding: 35px 11px 0 0;
}

.advantages-box__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-box__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-line {
    display: none;
  }

  .advantages-box {
    display: flex;
  }

  .advantages__block {
    padding: 40px 32px 33px 32px;
  }

  .photo-city {
    width: 512px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
  }

  .photo-bridge {
    width: 512px;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-box__items {
    display: block;
    padding: 60px 35px 59px 35px;
  }

  .advantages-box__items:nth-child(2) {
    .advantages-box__icon {
      padding: 0 0 26px 0;
    }
  }

  .advantages-box__icon {
    width: 75px;
    height: 72px;
    padding: 0 0 26px 0;
  }

  .advantages-box__desc {
    text-align: center;
    padding: 0;
  }

  .advantages-list__items {
    padding: 42px 34px 63px 33px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__block {
    padding: 47px 52px 57px 53px;
  }

  .photo-city {
    width: 800px;
  }

  .photo-bridge {
    width: 800px;
  }

  .advantages-box__items {
    padding: 59px 53px 80px 53px;
  }

  .advantages-box__icon {
    width: 75px;
    height: 75px;
  }

  .advantages-list__items {
    padding: 43px 43px 62px 42px;
  }
}
