.advantages-line {
  width: 100%;
}

.advantages__city {
  padding: 35px 20px 39px 18px;
}

.advantages__bridge {
  padding: 35px 20px 39px 18px;
}

.advantages__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__num {
  margin: 0;
  margin-top: -10px;
  color: #ffffff;
}

.advantages__description {
  margin: 0;
  margin-top: -5px;
  color: #ffffff;
}

.photo-city {
  margin-bottom: -5.5px;
}

.advantages-box {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #000000;
  background-color: #ffffff;
}

.advantages-box__items:last-child {
  padding-bottom: 35px;
}

.advantages {
  background-color: #81b3d2;
}

.photo-bridge {
  margin-bottom: -5.5px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #000000;
  background-color: #eeeeee;
}

.advantages-list__items {
  padding: 26px 26px 24px 26px;
}

.advantages-list__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list__num {
  margin: 0;
}

.advantages-list__description {
  margin: 0;
}

.advantages-box__items {
  display: flex;
}

.advantages-box__icon {
  padding: 23px 3px 0 18px;
}

.advantages-box__desc {
  text-align: start;
  padding: 25px 0 0 0;
}

.advantages-box__title {
  padding: 5px 0 0 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-box__text {
  margin: 0;
  margin-top: -5px;
}

@media (max-width: @mobile-width-only) {
  .advantages-box__items:nth-child(3) {
    .advantages-box__icon {
      padding: 19px 9px 0 15px;
    }

    .advantages-box__desc {
      padding: 20px 0 0 0;
    }
  }

  .advantages-box__items:nth-child(2) {
    .advantages-box__icon {
      padding: 13px 3px 0 17px;
    }

    .advantages-box__desc {
      padding: 22px 0 0 0;
    }
  }

  .advantages-list__items:nth-child(2) {
    .advantages-list__num {
      margin-top: -5px;
    }

    .advantages-list__description {
      padding: 0 30px 0 30px;
      margin-top: -5px;
    }
  }

  .advantages-list__items:nth-child(3) {
    .advantages-list__num {
      margin-top: -5px;
    }

    .advantages-list__description {
      padding: 0 10px 0 10px;
    }
  }
}

@media (min-width: @tablet-width) {
  .advantages__bridge {
    order: 2;
    padding: 35px 36px 40px 36px;
  }

  .advantages-box:nth-child(2) {
    .advantages-box__items {
      order: 3;
    }
  }

  .advantages-line {
    display: none;
  }

  .advantages__title {
    padding: 8px 15px 0 15px;
    font-size: 21px;
  }

  .advantages__description {
    padding-top: 10px;
  }

  .advantages-box {
    display: flex;
  }

  .photo-city {
    width: 512px;
  }

  .advantages {
    display: flex;
    justify-content: space-between;
  }

  .photo-bridge {
    width: 512px;
  }

  .advantages-list {
    display: flex;
  }

  .advantages-box__items {
    display: block;
    padding: 60px 35px 47px 35px;
  }

  .advantages-box__items:nth-child(2) {
    .advantages-box__icon {
      padding: 0 0 26px 0;
    }
  }

  .advantages-box__icon {
    width: 75px;
    height: 72px;
    padding: 0 0 15px 0;
  }

  .advantages-box__desc {
    text-align: center;
    padding: 0;
  }

  .advantages-box__title {
    padding-bottom: 7px;
    font-size: 21px;
  }

  .advantages-list__items {
    padding: 40px 34px 40px 38px;
  }

  .advantages-list__title {
    padding: 0 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages-list__num {
    margin-top: -10px;
  }

  .advantages-list__items:nth-child(2) {
    .advantages-list__description {
      padding: 0 25px 0 25px;
    }
  }

  .advantages-list__items:nth-child(3) {
    .advantages-list__description {
      padding: 0 25px 0 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__title {
    padding: 12px 80px 0 80px;
  }

  .advantages__description {
    padding: 10px 40px 0 40px;
  }

  .photo-city {
    width: 800px;
  }

  .photo-bridge {
    width: 800px;
  }

  .advantages-box__items {
    padding: 59px 53px 65px 53px;
  }

  .advantages-box__icon {
    width: 75px;
    height: 75px;
  }

  .advantages-list__items {
    padding: 40px 43px 62px 42px;
  }

  .advantages-list__title {
    padding: 0 90px 0 90px;
  }
}
