.info__name {
  padding: 19px 20px 7px 20px;
}

.info__name-tittle {
  padding-bottom: 19px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.info__name-item {
  display: flex;
  padding-bottom: 20px;
}

.info__name-item-text {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.info__name-item-field {
  width: 100%;
  padding: 18px 12px 14px 12px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background: #f2f2f2;
  border: none;
  outline: none;
}

.info__contact {
  padding: 20px 20px 28px 20px;
}

.info__contact-tittle {
  padding: 0 5px 0 5px;
  padding-bottom: 3px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.info__contact-item-block {
  display: flex;
}

.info__contact-item-text {
  display: block;
  text-align: start;
  padding: 14px 0 8px 22px;
  line-height: 26px;
}

.info__contact-item-field {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 22px 14px 22px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background: #f2f2f2;
  border: none;
  outline: none;
}

.info__contact-icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.info__contact-icon-svg {
  padding: 20px;
}

.info__impression {
  padding: 20px 20px 30px 20px;
}

.info__impression-group {
  padding: 0;
  border: none;
}

.info__impression-group-title {
  width: 100%;
  padding: 0 0 20px 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.info__impression-group-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info__impression-group-item {
  padding-bottom: 13px;
}

.info__impression-group-item:last-child {
  padding-bottom: 0;
}

.answer {
  display: flex;
}

.answer__circle {
  width: 44px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid transparent;
}

.answer__circle:hover {
  background: #e5e5e5;
}

.answer__circle:active {
  background: #d5d5d5;
}

.answer__input[type="radio"]:checked + .answer__circle {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.answer__control {
  display: flex;
  align-items: center;
  padding-left: 26px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
  letter-spacing: -0.4px;
}

.info__attraction {
  padding: 15px 20px 30px 20px;
}

.info__attraction-group {
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
}

.info__attraction-title {
  padding: 0 0 25px 0;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.info__attraction-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info__attraction-item {
  position: relative;
  padding-bottom: 24px;
}

.info__attraction-item:last-child {
  padding: 0;
}

.point {
  display: flex;
}

.point-input[type="checkbox"]:checked + .point__checkbox {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.point__checkbox {
  width: 44px;
  height: 44px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  border: 5px solid transparent;
  outline: none;
}

.point__checkbox:hover {
  background-color: #e5e5e5;
}

.point__checkbox:active {
  background-color: #d5d5d5;
}

.point__control {
  display: flex;
  align-items: center;
  padding-left: 29px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.info__emotions {
  padding: 20px 20px 48px 20px;
}

.info__emotions-text {
  display: block;
  padding-bottom: 15px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.info__emotions-field {
  box-sizing: border-box;
  height: 160px;
  width: 100%;
  padding: 13px 22px 29px 21px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background: #f2f2f2;
  border: none;
  outline: none;
  resize: none;
  letter-spacing: -0.9px;
}

.info__emotions-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px 0 18px 0;
  margin: 51px 0 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #81b3d2;
  border: none;
  cursor: pointer;
}

.info__emotions-button:hover {
  background: #669ec0;
}

.info__emotions-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.info__emotions-footnote {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .info__name {
    border-bottom: 1px solid #e5e5e5;
  }

  .info__contact {
    border-bottom: 1px solid #e5e5e5;
  }

  .info__impression {
    border-bottom: 1px solid #e5e5e5;
  }

  .info__attraction {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .info {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .info__name {
    padding: 0 60px 57px 30px;
  }

  .info__name-tittle {
    text-align: start;
    padding-left: 27px;
    padding-bottom: 54px;
    font-size: 21px;
  }

  .info__name-item-text {
    padding: 5px 10px 0 25px;
  }

  .info__impression {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 19px 57px 60px;
  }

  .info__impression-line::before {
    content: "";
    position: absolute;
    top: 1311px;
    left: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__impression-line::after {
    content: "";
    position: absolute;
    top: 1311px;
    right: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__impression-group-title {
    text-align: start;
    padding-bottom: 60px;
    font-size: 21px;
  }

  .info__impression-group-list {
    margin: 0;
  }

  .info__impression-group-item {
    padding-bottom: 25px;
  }

  .info__contact {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 60px 60px 60px;
  }

  .info__contact-tittle {
    font-size: 21px;
  }

  .info__contact-line::before {
    content: "";
    position: absolute;
    top: 980px;
    left: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__contact-line::after {
    content: "";
    position: absolute;
    top: 980px;
    right: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__attraction {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    padding: 0 120px 55px 120px;
  }

  .info__attraction-title {
    width: 308px;
    margin: auto;
    padding-bottom: 47px;
    letter-spacing: 1px;
  }

  .info__attraction-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    margin: 0;
    padding: 0;
  }

  .info__attraction-item {
    padding-right: 0;
  }

  .point {
    display: flex;
  }

  .info__emotions {
    grid-column: 1 / -1;
    text-align: start;
    padding: 0 60px 58px 60px;
  }

  .info__emotions-line::before {
    content: "";
    position: absolute;
    top: 1590px;
    left: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__emotions-line::after {
    content: "";
    position: absolute;
    top: 1590px;
    right: 8%;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__emotions-text {
    text-align: center;
    padding-bottom: 58px;
    letter-spacing: 1px;
  }

  .info__emotions-block {
    display: flex;
  }

  .info__emotions-field {
    letter-spacing: 0.1px;
  }

  .info__emotions-button {
    width: 324px;
    height: 58px;
  }

  .info__emotions-footnote {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .info__name {
    padding: 0 120px 50px 79px;
  }

  .info__name-tittle {
    padding-left: 0;
    padding-bottom: 56px;
  }

  .info__name-item-text {
    padding: 0 25px 0 0;
  }

  .info__contact {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 120px 51px 120px;
  }

  .info__contact-tittle {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .info__contact-line {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .info__contact-line::before {
    content: "";
    position: absolute;
    top: 1010px;
    left: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__contact-line::after {
    content: "";
    position: absolute;
    top: 1010px;
    right: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__contact-item {
    display: flex;
    padding-top: 71px;
  }

  .info__contact-item-text {
    display: flex;
    align-items: center;
    padding: 0 18px 0 0;
    white-space: nowrap;
  }

  .info__impression {
    padding: 0 128px 50px 120px;
  }

  .info__impression-line::before {
    content: "";
    position: absolute;
    top: 1233px;
    left: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__impression-line::after {
    content: "";
    position: absolute;
    top: 1233px;
    right: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__impression-group-title {
    padding-bottom: 60px;
    padding-left: 77px;
  }

  .info__impression-group-item {
    padding-bottom: 25px;
  }

  .info__attraction {
    padding-bottom: 65px;
  }

  .info__attraction-title {
    font-size: 21px;
    letter-spacing: -0.2px;
  }

  .info__attraction-list {
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0;
  }

  .info__attraction-item {
    padding: 0;
  }

  .info__emotions {
    padding: 0 120px 66px 120px;
  }

  .info__emotions-line::before {
    content: "";
    position: absolute;
    top: 1435px;
    left: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__emotions-line::after {
    content: "";
    position: absolute;
    top: 1435px;
    right: 10.5%;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .info__emotions-button {
    width: 480px;
  }
}

input:hover {
  background: #e5e5e5;
}

input:active {
  background: #ffffff;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}
