.photo-block__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-block__num {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.photo-block__author {
  margin: 0;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .photo {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .photo-block__vast {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .photo-block__vast {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}
