.review {
  background-image: url("../img/back-desktop.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona {
  padding: 52px;
}

.review__text {
  margin: 0;
  padding: 103px 6px 16px 6px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.review__desc {
  margin: 0;
}
