.search {
  padding: 33px 20px 49px 20px;
  color: #000000;
  background-color: #ffffff;
}

.search__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search__info {
  padding: 0 10px 0 10px;
  margin: 0;
}

.search__sedona {
  padding: 15px 0 18px 0;
  margin: 27px 0 0 0;
  background: #81b3d2;
}

.search__sedona:hover {
  background: #669ec0;
}

.search__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.search__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.map-tablet {
  display: none;
}

.map-desktop {
  display: none;
}

iframe {
  height: 350px;
  width: 100%;
  border: none;
}


@media (min-width: @tablet-width) {
  .search {
    padding: 58px 135px 37px 135px;
  }

  .search__title {
    font-size: 30px;
    line-height: 26px;
  }

  .search__info {
    line-height: 24px;
  }

  .search__sedona {
    width: 458px;
    margin: auto;
    margin-top: 27px;
  }

  iframe {
    padding-top: 58px;
  }
}
