.welcome {
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5496bd;
}

.welcome__sedona {
  padding-top: 90px;
  padding-bottom: 76px;
}

.welcome__wrapper {
  padding: 0 19px 11px 16px;
  background-color: #ffffff;
}

.welcome__text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.welcome__desc {
  margin: 0;
}
